#parent{
    display: flex ;
    padding: 10px;
    flex-direction: row;
    border: 1px solid white;
   }
img{
   
   height: 70%;
   width: 70%;
   margin-left: 100px;
   margin-right: 1px;
   margin-bottom: 1px;
   padding-right: 1px;
}
#parent>div{
   
    height: 40%;
    width: 40%;
   }
#parent>#div2{
    padding-top: 200px;
    margin-left:0px ;
    font-size: 30px;
    font-weight: bold;
    
}

